@model CoronaSupportPlatform.UI.Models.ViewModels.Tenders.TenderViewModel
@{
    ViewBag.Title = "İhtiyaç Detay";
}
<div class="main-content-inner">
    <div class="mt-5 mb-5">
        <div class="col-lg-12 mt-sm-30 mt-xs-30">
            <div class="card">
                <div class="card-body">
                    <div class="mt-4">

                        <div class="row mb-3 form-gp">
                            <div class="col-12">
                                <strong>Talep Adı</strong>
                                <br />
                                @Model.ShortDescription
                            </div>
                        </div>
                        <div class="row mb-3 form-gp">
                            <div class="col-6">
                                <strong>Kullanıcı</strong>
                                <br />
                                <a href="/Users/@Model.UserId" target="_blank">
                                    @(Model.User.Firstname + " " + Model.User.Lastname)
                                </a>
                            </div>
                            <div class="col-6">
                                <strong>Hastane</strong>
                                <br />
                                @(Model.Organization.Name)
                            </div>
                        </div>
                        <div class="row mb-3 form-gp">
                            <div class="col-12">
                                <strong>İhtiyaç Dahilindeki Ürünler</strong>
                                <br />
                            </div>
                        </div>
                        <div class="row form-gp ml-0">
                            @foreach (var item in Model.Items)
                            {
                                <div class="col-sm-8 p-3 mb-1" style="border:solid 1px lightgray">
                                    <img src="~/Content/images/products/@(item.ProductId).jpg" style="width:50px" /> @item.Product.Name
                                </div>
                                <div class="col-sm-4 p-2 mb-1" style="border:solid 1px lightgray">
                                    <br />
                                    @item.Quantity adet
                                </div>
                            }
                        </div>
                        <div class="row mb-3 form-gp">
                            <div class="col-12">
                                <strong>Adres</strong>
                                <br />
                                @Html.Raw(!String.IsNullOrEmpty(Model.Address) ? Model.Address.Replace(Environment.NewLine, "<br/>") : "")
                            </div>
                        </div>
                        <div class="row mb-3 form-gp">
                            <div class="col-12">
                                <strong>Mesajınız</strong>
                                <br />
                                @Html.Raw(!String.IsNullOrEmpty(Model.LongDescription) ? Model.LongDescription.Replace(Environment.NewLine, "<br/>") : "")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-warning mb-1 pull-right" onclick="document.location.href = '/Tenders/@Model.TenderId/Edit';">Güncelle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>