@model CoronaSupportPlatform.UI.Models.ViewModels.Tenders.TenderViewModel
@{
    ViewBag.Title = "İhtiyaç Güncelle";
}

<div class="main-content-inner">
    @using (Html.BeginForm("Edit", "Tenders", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "editForm", role = "form" }))
    {
        @Html.HiddenFor(o => Model.CurrentOrganization.OrganizationId)

        <div class="mt-5 mb-5">
            <div class="col-lg-12 mt-sm-30 mt-xs-30">
                <div class="card">
                    <div class="card-body">
                        <div class="mt-4">
                            @if (Model.IsUpdated)
                            {
                                <div class="row alert alert-success alert-dismissible fade show" role="alert">
                                    <ul>
                                        <li>İhtiyaç başarıyla güncellendi.</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </div>
                            }

                            @if (Model.Errors.Any())
                            {
                                <div class="row alert alert-danger alert-dismissible fade show" role="alert">
                                    <ul>
                                        @foreach (var error in Model.Errors)
                                        {
                                            <li>@error</li>
                                        }
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </div>
                            }
                            <div class="row mb-3 form-gp">
                                <div class="col-12">
                                    <strong>Talep Adı</strong>
                                    <br />
                                    <input type="text" name="ShortDescription" value="" />
                                </div>
                            </div>
                            <div class="row mb-3 form-gp">
                                <div class="col-6">
                                    <strong>Kullanıcı</strong>
                                    <br />
                                    <a href="/Users/@Model.UserId" target="_blank">
                                        @(Model.User.Firstname + " " + Model.User.Lastname)
                                    </a>
                                </div>
                                <div class="col-6">
                                    <strong>Hastane</strong>
                                    <br />
                                    @(Model.Organization.Name)
                                </div>
                            </div>
                            <div class="row mb-3 form-gp">
                                <div class="col-12">
                                    <strong>İhtiyaç Dahilindeki Ürünler</strong>
                                    <br />
                                </div>
                            </div>
                            <div class="row form-gp ml-0">
                                @foreach (var item in Model.Items)
                                {
                                    <div class="col-sm-8 p-3 mb-1" style="border:solid 1px lightgray">
                                        <img src="~/Content/images/products/@(item.Product.Code).jpg" style="width:50px" /> @item.Product.Name
                                    </div>
                                    <div class="col-sm-4 p-2 mb-1" style="border:solid 1px lightgray">
                                        <br />
                                        <input name="@(item.ItemId)_Quantity" class="input-group-text" style="background-color:white" placeholder="Adet" type="number" id="@item.ItemId)_Quantity" value="@item.Quantity" />
                                    </div>
                                }
                            </div>
                            <div class="row mb-3 form-gp">
                                <div class="col-12">
                                    <strong>Adres</strong>
                                    <br />
                                    <textarea name="Address" class="form-control">@Model.Address</textarea>
                                </div>
                            </div>
                            <div class="row mb-3 form-gp">
                                <div class="col-12">
                                    <strong>Mesajınız</strong>
                                    <br />
                                    <textarea name="LongDescription" class="form-control">@Model.LongDescription</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" class="btn btn-success mb-1 pull-right" value="Kaydet" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>