@model CoronaSupportPlatform.UI.Models.ViewModels.Organizations.OrganizationListViewModel
@{
    ViewBag.Title = "Hastane Listesi";
}
@section headPlugins{
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
}

<div class="main-content-inner">
    <div class="mt-5 mb-5">
        <div class="col-lg-12 mt-sm-30 mt-xs-30">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <h4 class="header-title">İhtiyaç Listesi</h4>
                    </div>
                    <div class="trad-history mt-4">
                        <div class="data-tables datatable-primary">
                            <table id="tblOrganizations">
                                <thead class="text-capitalize">
                                    <tr>
                                        <td style="width:5%">ID</td>
                                        <td style="width:15%">Şehir</td>
                                        <td style="width:35%">Organizasyon Adı</td>
                                        <td style="width:10%">Tip</td>
                                        <td style="width:10%">Durum</td>
                                        <td style="width:15%"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var organization in Model.Organizations)
                                    {
                                    <tr>
                                        <td style="width:5%">@organization.OrganizationId</td>
                                        <td style="width:15%">@organization.City</td>
                                        <td style="width:45%">@organization.Name</td>
                                        <td style="width:10%">@organization.TypeName</td>
                                        <td style="width:10%">@organization.StatusName</td>
                                        <td style="width:15%">
                                            <button onclick="document.location.href='/Organizations/@organization.OrganizationId'" type="button" class="btn btn-primary pull-right">Görüntüle</button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="btn btn-warning mb-1 mt-3 pull-right" href="/Organizations/New">Yeni Organizasyon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptPlugins{
    <!-- Start datatable js -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
}