@model CoronaSupportPlatform.UI.Models.ViewModels.Users.UserViewModel

<div class="main-content-inner">
    @using (Html.BeginForm("Edit", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "editForm", role = "form" }))
    {
        @Html.HiddenFor(m => m.UserId);
        <div class="mt-5 mb-5">
            <div class="col-lg-12 mt-sm-30 mt-xs-30">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <h4 class="header-title">@Model.Firstname @Model.Lastname</h4>
                        </div>
                        <div class="mt-4">
                            @if (Model.Errors.Any())
                            {
                                <div class="row alert alert-danger alert-dismissible fade show" role="alert">
                                    <ul>
                                        @foreach (var error in Model.Errors)
                                        {
                                            <li>@error</li>
                                        }
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </div>
                            }
                            <div class="row mb-3 form-gp">
                                <div class="col-2">
                                    <strong>Ad</strong>
                                </div>
                                <div class="col-4">
                                    <input type="text" name="Firstname" value="@Model.Firstname" />
                                </div>
                                <div class="col-2">
                                    <strong>Soyad</strong>
                                </div>
                                <div class="col-4 form-gp">
                                    <input type="text" name="Lastname" value="@Model.Lastname" />
                                </div>
                            </div>
                            <div class="row mb-3 form-gp">
                                <div class="col-2">
                                    <strong>Hastane</strong>
                                </div>
                                <div class="col-4">
                                    <select name="OrganizationId" class="custom-select">
                                        @foreach (var organization in Model.Organizations.OrderBy(o => o.Name))
                                        {
                                            <option value="@organization.OrganizationId" @(organization.OrganizationId == Model.OrganizationId ? "selected" : "")>@organization.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-2">
                                    <strong>Görev</strong>
                                </div>
                                <div class="col-4">
                                    <select name="OccupationId" class="custom-select">
                                        <option value="1" @(((short)Model.OccupationId) == 1 ? "selected" : "")>Yönetici</option>
                                        <option value="2" @(((short)Model.OccupationId) == 2 ? "selected" : "")>Diğer Sağlık Personeli</option>
                                        <option value="4" @(((short)Model.OccupationId) == 4 ? "selected" : "")>Kullanıcı</option>
                                        <option value="1004" @(((short)Model.OccupationId) == 1004 ? "selected" : "")>Doktor</option>
                                        <option value="1005" @(((short)Model.OccupationId) == 1005 ? "selected" : "")>İdari Personel</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3 form-gp">
                                <div class="col-2">
                                    <strong>Departman</strong>
                                </div>
                                <div class="col-4">
                                    @{
                                        var departmentList = new List<string> { "Acil Servis", "Yoğun Bakım", "Kadın Hastalıkları ve Doğum", "Çocuk Yoğun Bakım/Acil",
                                                                                "Göğüs Hastalıkları", "Dahiliye", "Anestezi", "Radyoloji", "Kulak-Burun-Boğaz", "Psikiyatri",
                                                                                    "Pediatri"};
                                    }
                                    <select name="Department" class="custom-select">
                                        @foreach (var department in departmentList.OrderBy(d => d))
                                        {
                                            <option value="@department" @(department == Model.Department ? "selected" : "")>@department</option>
                                        }
                                        <option value="Diğer" @("Diğer" == Model.Department ? "selected" : "")>Diğer</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <strong>E-posta</strong>
                                </div>
                                <div class="col-4">
                                    <input type="text" name="Email" value="@Model.Email" />
                                </div>                                
                            </div>
                            <div class="row mb-3">
                                <div class="col-2">
                                    <strong>Cep Telefonu</strong>
                                </div>
                                <div class="col-4">
                                    <input type="text" name="Mobile" value="@Model.Mobile" />
                                </div>
                                <div class="col-2">
                                    <strong>Durum</strong>
                                </div>
                                <div class="col-4">
                                    <select name="Status" class="custom-select">
                                        <option value="0" @(((short)Model.Status) == 0 ? "selected" : "")>Onay Bekliyor</option>
                                        <option value="1" @(((short)Model.Status) == 1 ? "selected" : "")>Aktif</option>
                                        <option value="-1" @(((short)Model.Status) == -1 ? "selected" : "")>Pasif</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" class="btn btn-success mb-1 pull-right" value="Kaydet" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>