@model CoronaSupportPlatform.UI.Models.ViewModels.HomeViewModel
@{ 
    ViewBag.Title = "Anasayfa";
}
<div class="main-content-inner">
    <div class="mt-5 mb-5">
        <div class="col-lg-12 mt-sm-30 mt-xs-30">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <h4 class="header-title">İhtiyaç Listesi</h4>
                        <div class="trd-history-tabs">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#pending" role="tab">Bekleyenler</a>
                                </li>
                                @*<li>
                                    <a data-toggle="tab" href="#closed" role="tab">Karşılananlar</a>
                                </li>*@
                            </ul>
                        </div>                        
                    </div>
                    <div class="trad-history mt-4">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="pending" role="tabpanel">
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-primary">
                                                <tr class="text-white">
                                                    <td style="width:10%">İhtiyaç ID</td>
                                                    <td style="width:10%">Giriş Tarihi</td>
                                                    <td style="width:10%">Kullanıcı</td>
                                                    <td style="width:20%">Hastane</td>
                                                    <td style="width:30%">Ürünler</td>
                                                    <td style="width:10%">Durum</td>
                                                    <td style="width:10%"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var tender in Model.Tenders.Where(t => t.State == CoronaSupportPlatform.Models.TenderState.New || t.State == CoronaSupportPlatform.Models.TenderState.Active).OrderByDescending(t => t.Created))
                                                {
                                                    <tr>
                                                        <td style="width:10%">@tender.TenderId</td>
                                                        <td style="width:10%">@tender.Created.ToString("dd.MM.yyyy HH:mm")</td>
                                                        <td style="width:10%"><a href="/Users/@tender.UserId">@(tender.User?.Firstname + " " + tender.User?.Lastname)</a></td>
                                                        <td style="width:20%">@(tender.Organization?.City + " " + tender.Organization?.Name)</td>
                                                        <td style="width:30%">
                                                            @foreach (var item in tender.Items)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-6">@(item.Product?.Name)</div>
                                                                    <div class="col-6">@item.Quantity adet</div>
                                                                </div>
                                                            }
                                                        </td>
                                                        <td style="width:10%">@tender.StateName</td>
                                                        <td style="width:10%">
                                                            <button onclick="document.location.href='/Tenders/@tender.TenderId'" type="button" class="btn btn-primary pull-right">Görüntüle</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>